{% extends "base.html.twig" %}


{% block body %}
    <div class="container">

        <div class="map">
            <img src="https://via.placeholder.com/640x640" alt="" class="resp">
        </div>
        {% for element in parcs %}
            <div class="card-parc">
                <div class="card-image">

{#                    {{ dump(element.picture) }}#}
                    {% for picture in images %}
                        <img src="{{ asset('assets/img') }}/{{picture.name }}" alt="" class="resp">
                    {% endfor %}
                </div>
                <div class="card-info">
                    <div class="card-article">
                        <h2>{{ element.name }}</h2>

                    </div>
                    <div class="card-rating">
                        <h3>{{ element.rating}}</h3>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}